@media(max-width:1440px){
    .title{
        bottom: 20%;
    }
    .periodic-table{
        transform: scale(0.9);
        left: 15px;
    }
    
        
i{
    color: white;
    font-size: 50px;
    position: absolute;
    right: 800px ;
    top: 185px;
}

   .element{
    transform: scale(0.9);
     left: 50px;
    }
    .element-groups{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}
@media(max-width:1100px){
    .title{
        bottom: 10%;
    }
    .periodic-table{
        transform: scale(0.7);
        left: 15px;
    }
    
    
    .element-groups{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      margin-left: 25vh;
    }
    .element-button{
        width: 150px;
    }


      .element-groups {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      margin-left: 25vh;
      }
      i{
        color: white;
        font-size: 50px;
        position: absolute;
        right: 190vh ;
        top: 185px;
    }

}



@media(max-width:1700px){
    .title{
        bottom: 20%;
    }
    .periodic-table{
        transform: scale(0.9);
        left: 15px;
    }
    
        
i{
    color: white;
    font-size: 50px;
    position: absolute;
    right: 120vh ;
    top: 185px;
}

   .element{
    transform: scale(0.9);
     left: 50px;
    }
    .element-groups{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }

    .periodic-table {

        display: grid;
        grid-template-columns: repeat(23, 1fr); /* <> sütun */
        grid-template-rows: repeat(12 , 1fr); /* <> satır div genişğin  burdan ayarla */
        gap: 12px; /* Sütun ve satırlar arasındaki boşluklar */
      }


      .element-groups {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      margin-left: 25vh;
      }
      
}
